{
  "extends": ["@antfu"],
  "rules": {
    "no-console": "warn",
    "vue/singleline-html-element-content-newline": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off",
    "brace-style": "off",
    "quote-props": "off",
    "quotes": "off"
  }
}
